*{margin: 0; padding: 0;}
body{background: #f1f5f8; font-family: sans-serif;}
nav{width: 100%; background: #fff; height: auto; display: flex; justify-content: space-around; padding: 10px 0;}
ul.menu{list-style: none; display: flex; gap: 40px; align-items: center;}
nav h1{color: blue;}
nav > ul > li > a{text-decoration: none; color: #000;}
.wrapper{margin: auto; width: 80%; height: auto; position: absolute; top: 50%; left: 50%;
 transform: translate(-50%, -50%); }
 .wrapper > div{width: 100%; height: auto;  background: black; padding: 10px 0; border-radius: 10px;}
.div-box > p:nth-child(1){color: #fff; font-weight: 700; text-align: center; font-size: 25px; letter-spacing: 0.2em;}
.div-box > p:nth-child(2){color: blue; font-weight: 700; text-align: center; font-size: 25px; letter-spacing: 0.2em;}
.wrapper > button{position: absolute; left: 50%; top: 180%; transform: translate(-50%, -50%); color: #000; background: transparent;
border: 2px solid #000; outline: none; font-size: 17px; padding: 10px 15px; border-radius: 10px; cursor: pointer;}