*{margin: 0; padding: 0;}
body{font-family: sans-serif; background: #e6f1ff;}
div.wrapper{width: 75%; height: 80vh;  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
text-align: center;}
.underline{background: #795548; width: 50px; height: 3px; margin: 7px auto 20px auto;}
.btn-group{display: flex; justify-content: center; gap: 10px;}
.btn-group > .btn{padding: 3px; background: transparent; border: none; outline: none; color: #795548; border: 2px solid #795548;
border-radius: 5px; cursor: pointer;}
.btn-group > .btn:hover{background: #795548; color: #fff;}
.flex-container{display: grid; grid-template-columns:repeat(2, 1fr); margin-top: 40px; grid-gap: 20px;}
.flex-container > .flex-item{/*width: 50%;*/ height: auto; display: flex; gap: 15px;}
.flex-item > .product-img{width: 40%; height: auto;}
.flex-item > .product-info{width: 60%; height: auto;}
.product-img > img{width: 100%; height: 150px; object-fit: cover; border-radius: 10px; border: 2px solid #795548;}
.product-text{display: flex; justify-content: space-between; margin-bottom: 5px;}
.product-detail{font-size: 14px; text-align: left; line-height: 1.2em; color: grey; margin-top: 20px;}
.product-text > .name{font-weight: 700; color: #160202; letter-spacing: 0.1rem;}
.product-text > .price{color: #795548; font-size: 14px; font-weight: 700;}


@media(max-width: 769px){
	.flex-container{grid-template-columns: 100%;}
	.flex-item{flex-direction: column;}
	.flex-item > .product-img{width: 100%;}
	.flex-item > .product-info{width: 100%;}
}