*{margin: 0; padding: 0;}
body{font-family: sans-serif; background: url("../img/bg-banner.jpg"); background-size: cover; background-position: center; z-index: 1;}
body::after{content: ""; position: absolute; width: 100%; height: 100vh; background: skyblue; opacity: 0.5; z-index: -1;}
.modal-call{position: absolute; left: 50%; top: 50%; width: 300px; height: 200px; border-radius: 5px; background: #fff;
transform: translate(-50%, -50%); text-align: center; box-shadow: 5px 5px 5px grey;}
.modal-call > h2{margin-top: 55px; font-size: 30px; font-weight: 700;}
.modal-call > button{margin-top: 30px; border: none; outline: none; background: skyblue; color: #fff; padding: 7px; cursor: pointer;
letter-spacing: 0.2em; font-weight: 700; border-radius: 5px;}
.modal-box{width: 400px; height: 190px; background: skyblue; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
padding: 12px 0; border-radius: 10px; visibility: hidden;}
.modal-box.toggle-class{visibility: visible;}
.modal-container{width: 100%; height: 190px; background: #fff; text-align: center;}
.modal-container > img{position: absolute; right: 15px; top: 20px; width: 25px; height: 25px;}
.modal-container > h4{position: absolute; top: 95px; left: 147px; font-weight: 800;}

@media(max-width: 769px){
	.modal-box{width: 350px;}
	.modal-container > h4{left: 120px;}
}